<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap 实例</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <title>Bootstrap 实例 - 代码</title>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>高考新闻</h1>
    <p></p>
  </div>
  <div class="row">
    <div class="col-sm-4">
     <h2>关于高考</h2>
      <pre>
        <a href="https://www.baidu.com/s?tn=88093251_92_hao_pg&wd=%E5%B1%B1%E4%B8%9C%E6%96%B0%E9%AB%98%E8%80%83&ie=utf-8" target="_blank"><h3>山东新高考</h3></a>
        <a href="http://www.sdzk.cn/" target="_blank"><h3>教育招生网</h3></a>
        <a href="https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=1&tn=88093251_92_hao_pg&wd=%E5%B1%B1%E4%B8%9C%E7%9C%81%E6%89%B9%E6%AC%A1%E7%BA%BF&oq=%25E9%25AB%2598%25E8%2580%2583&rsv_pq=ed0cba8e0006d25d&rsv_t=868epT4WELQ24SF5WpawZkg%2BCoG5elQMBU783xU24Mq1qcJ7zs%2FmSoLtlW3NxVKlp1nRfPQ6hyVp&rqlang=cn&rsv_enter=1&rsv_dl=tb&rsv_btype=t&inputT=4853&rsv_sug3=143&rsv_sug1=123&rsv_sug7=100&rsv_sug2=0&rsv_sug4=5227" target="_blank"><h3>省批次线</h3></a>
        <a href="https://gkcx.eol.cn/colleges/bypart" target="_blank"><h3>一分一段表</h3></a>
      </pre>
    </div>
    <div class="col-sm-4">
      <h2>关于择校</h2>
      <pre>
        <a href="https://www.baidu.com/s?wd=%E5%8F%8C%E4%B8%80%E6%B5%81%E5%A4%A7%E5%AD%A6&rsv_spt=1&rsv_iqid=0x8e815c450001a3d9&issp=1&f=8&rsv_bp=1&rsv_idx=2&ie=utf-8&rqlang=cn&tn=baiduhome_pg&rsv_enter=1&rsv_dl=tb&oq=211%25E5%25A4%25A7%25E5%25AD%25A6&rsv_btype=t&inputT=2495&rsv_t=2208Nt2ikFeY1%2F5050grTUxRXmVVnjxR0JKKAprHYAA24ITL157mhJ2DrJfnQxKsX3cT&rsv_pq=ed91a898000453ba&rsv_sug3=21&rsv_sug1=29&rsv_sug7=100&rsv_sug2=0&rsv_sug4=7211" target="_blank"><h3>双一流大学</h3></a>
        <a href="https://www.baidu.com/s?wd=985%E5%A4%A7%E5%AD%A6&rsv_spt=1&rsv_iqid=0x8e815c450001a3d9&issp=1&f=8&rsv_bp=1&rsv_idx=2&ie=utf-8&tn=baiduhome_pg&rsv_enter=1&rsv_dl=tb&rsv_sug3=9&rsv_sug1=9&rsv_sug7=100&rsv_sug2=0&rsv_btype=i&prefixsug=985%25E5%25A4%25A7%25E5%25AD%25A6&rsp=5&inputT=2467&rsv_sug4=3302" target="_blank"><h3>985大学</h3></a>
        <a href="https://www.baidu.com/s?wd=211%E5%A4%A7%E5%AD%A6&rsv_spt=1&rsv_iqid=0x8e815c450001a3d9&issp=1&f=8&rsv_bp=1&rsv_idx=2&ie=utf-8&rqlang=cn&tn=baiduhome_pg&rsv_enter=1&rsv_dl=tb&oq=985%25E5%25A4%25A7%25E5%25AD%25A6&rsv_btype=i&inputT=2467&rsv_t=8dbeYMKJeIg9DA1P3JvspJ3udkXXn8R3NhzzflJpq0pjhlBnWLdgAto9K%2FQ1RILXWTdO&rsv_sug3=12&rsv_sug1=13&rsv_sug7=100&rsv_pq=d22f8fc00005f090&bs=985%E5%A4%A7%E5%AD%A6" target="_blank"><h3>211大学</h3></a>
        <a href="https://www.baidu.com/s?wd=%E4%B8%9C%E5%8D%97%E5%A4%A7%E5%AD%A6&rsv_spt=1&rsv_iqid=0x8e815c450001a3d9&issp=1&f=8&rsv_bp=1&rsv_idx=2&ie=utf-8&rqlang=cn&tn=baiduhome_pg&rsv_enter=1&rsv_dl=tb&oq=%25E5%258F%258C%25E4%25B8%2580%25E6%25B5%2581%25E5%25A4%25A7%25E5%25AD%25A6&rsv_btype=t&inputT=2495&rsv_t=97bbiENyZRIQtOlER2Vi93JV5OPl76qZlZnSRCvDlV%2BbDr0TMiVv9gPQ%2BK4m%2FklAB2Bt&rsv_pq=b0a933d40004047e&rsv_sug3=23&rsv_sug1=34&rsv_sug7=100&bs=%E5%8F%8C%E4%B8%80%E6%B5%81%E5%A4%A7%E5%AD%A6" target="_blank"><h3>东南大学</h3></a>
      </pre>
    </div>
    <div class="col-sm-4">
      <h2>关于东大</h2>
      <pre>
        <a href="https://news.seu.edu.cn/" target="_blank"><h3>东南新闻</h3></a>
        <a href="https://www.seu.edu.cn/28438/list.htm" target="_blank"><h3>院系设置</h3></a>
        <a href=" https://yingxin.seu.edu.cn/" target="_blank"><h3>东大迎新</h3></a>
        <a href="https://www.seu.edu.cn/_t2492/28450/list.psp" target="_blank"><h3>师资力量</h3></a>
      </pre>

    </div>
  </div>
</div>
</div>
</body>
</html>
