<!DOCTYPE html>
<html>
<head>
    <title>友情链接</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .bg {
            background: url(../../static/recommend/assets/img/background/img-75.jpg) no-repeat center;
            background-size: contain;
        }

        .center {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
  <h1 class="center">高考资讯</h1>
</div>
<table>
<div class="list-group">
    <a href="http://www.sd.xinhuanet.com/edu/2021-07/26/c_1127694994.htm"
       class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">山东2021高考普通类常规批第2次志愿26日起填报</h3>
        </div>
        <p class="mb-1">山东2021年高考普通类常规批第2次志愿填报今日开始填报,具体填报时间为7月26日-28日(每天9:00-18:00)。</p>
        <small>2021年07月26日</small>
        <small class>来源：齐鲁晚报</small>
    </a>

    <a href="http://sd.sdnews.com.cn/yw/202107/t20210725_2937989.htm"
       class="list-group-item list-group-item-action flex-column align-items-start  active">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">高考普通类本科还剩249个计划，山东大学剩余7个计划</h3>
        </div>
        <p class="mb-1">7月24日，省招考院发布2021年普通类和体育类常规批（本科）第2次志愿院校专业计划，记者统计发现，今年普通类本科计划只剩249个，其中有180个是新增计划。</p>
        <small>2021年07月25日</small>
        <small class>来源：济南日报</small>
    </a>


    <a href="http://www.sd.xinhuanet.com/news/2021-07/22/c_1127680692.htm"
       class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">山东高考普通类常规批第1次志愿计划完成率99.99%</h3>

        </div>
        <p class="mb-1">7月21日上午，山东省教育招生考试院举行2021年高考录取媒体开放日活动，通报了目前山东省普通高考录取工作情况。</p>
        <small>2021年07月22日</small>
        <small class>来源：大众日报</small>
    </a>

    <a href="http://edu.bandao.cn/a/525459.html"
       class="list-group-item list-group-item-action flex-column align-items-start  active">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">山东高考最新录取进度来啦：普通类常规批第1次志愿剩26个计划</h3>
        </div>
        <p class="mb-1">在7月21日举行的媒体开放日上，省招考院通报了招生录取进度。</p>
        <small class>2021年07月21日</small>
        <small class>来源：大众报业·半岛网</small>
    </a>

    <a href="http://www.sd.xinhuanet.com/news/2021-07/13/c_1127648514.htm"
       class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">山东公布2021年高考录取结果查询时间表</h3>
        </div>
        <p class="mb-1">山东省2021年普通高校招生录取工作日前已全面展开。</p>
        <small>2021年07月13日</small>
        <small class>来源：大众日报</small>
    </a>

    <a href="https://sd.dzwww.com/sdnews/202107/t20210704_8724068.htm"
       class="list-group-item list-group-item-action flex-column align-items-start  active">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">@山东高考生，这些批次7月5日起填报志愿！</h3>
        </div>
        <p class="mb-1">今年高考普通类（特殊类型批和常规批本科计划）、艺术类本科批、体育类（常规批本科计划）和春季高考本科批第1次志愿填报于7月5日至8日进行</p>
        <small>2021年07月04日</small>
        <small class>来源：大众报业</small>
    </a>

    <a href="https://www.sohu.com/a/474910151_716280"
       class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">高考志愿填报如何捡漏？如何低分高就？山东考生捡漏大全</h3>
        </div>
        <p class="mb-1">高考志愿填报如何捡漏？如何实现低分高就？请看山东考生高考志愿捡漏大全，为什么能够捡漏？</p>
        <small>2021年07月01日</small>
        <small class>来源：搜狐新闻</small>
    </a>

</div>
</table>
</body>
</html>
