

<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap 实例</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <title>Bootstrap 实例 - 代码</title>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>高考新闻</h1>
    <p></p>
  </div>
  <div class="row">
    <div class="col-sm-4">
     <h3>主题一</h3>
      <pre>
      <h1>止于至善</h1>
        <a href="http://baidu.com" target="_blank"><h3>链接1</h3></a>
         <a href="http://baidu.com" target="_blank"><h3>链接2</h3></a>
         <a href=" http://baidu.com" target="_blank"><h3>链接3</h3></a>
          <a href="http://baidu.com" target="_blank"><h3>链接4</h3></a>
      </pre>
    </div>
    <div class="col-sm-4">
      <h3>主题二</h3>
      <pre>
      <h1>止于至善</h1>
        <a href="http://baidu.com" target="_blank"><h3>链接1</h3></a>
         <a href="http://baidu.com" target="_blank"><h3>链接2</h3></a>
         <a href=" http://baidu.com" target="_blank"><h3>链接3</h3></a>
          <a href="http://baidu.com" target="_blank"><h3>链接4</h3></a>
      </pre>
    </div>
    <div class="col-sm-4">
      <h3>东大校园</h3>
      <pre>
      <h1>止于至善</h1>
        <a href="https://news.seu.edu.cn/" target="_blank"><h3>东南新闻</h3></a>
         <a href="https://www.seu.edu.cn/28438/list.htm" target="_blank"><h3>院系设置</h3></a>
         <a href=" https://yingxin.seu.edu.cn/" target="_blank"><h3>东大迎新</h3></a>
          <a href="https://www.seu.edu.cn/_t2492/28450/list.psp" target="_blank"><h3>师资力量</h3></a>
      </pre>

    </div>
  </div>
</div>
</div>
</body>
</html>
